<!-- 
// Login.html
// log in page of scheduler 
-->
<html>
    <head>
        <title> Class Scheduler </title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="css/stylesheet.css" type="text/css"/>
            
    </head>

    <body id="body">
        
        <br><h1 align = "center" id = "title">Create Your Schedule </h1>
        
          <p align ="center"><img src="schedule01.png" width ="400px"></p>
         
          <p id= "otto"><img align src="otto.png" width = "300"></p>              
        
        <div id="login">

            <form id="emailpw" align="center" action="login.php" method="POST">
                  <label>Email : </label>
                  <input type="text" name="username" class="box"/>
                  
                  <br/><br/>
                  
                  <label>Password : </label>
                  <p>
                    <input type="password" name="password" class="box"/>
                  
                    <br/>
                    <input name="action" type="hidden" value="login"/>
                  </p>
                  <p><input type="submit" value="Login"/></p>
                  
                  <br/>
            </form>
        
            <form action="signup.html">
                <p align="center"> 
                    <input type="submit" value="Create Account">
                </p>
            </form>
        </div>
    </body>
</html>