<html>
    <header>
        
        <title> Create Your Account </title>
        
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="../css/stylesheet.css" type="text/css"/>

    </header>
    
        <body id = "body">
            <h1 align ="center"><b> Class Scheduler</b></h1>
            <h2 align ="center" id = "title"> Create Your Account</h2>
            
            <div id= "forms" action="signup.php" method="POST">
                <form align ="center">
                    <p>First Name 
                        <br><input type = "text"></p>
                    <p>Last Name  
                        <br><input type = "text"></p>
                    <p>SU Email      
                        <br><input type = "text"></p>
                    <p>Username   
                        <br><input type = "text"></p>
                    <p>Create Password 
                        <br><input type = "text"></p>
                    <p>Confirm Password  
                        <br><input type = "text"></p>
                    <p>Graduating Year
                        <br><select>
                            <option>2017</option>
                            <option>2018</option>
                            <option>2019</option>
                            <option>2020</option>
                            <option>2021</option>
                            <option>2022</option>
                            <option>2023</option>
                            <option>2024</option>
                            <option>2025</option>
                        </select>
                    </p>
                    <p>College
                        <br><select>
                            <option>School of Architecture</option>
                            <option>The College of Arts and Sciences</option>
                            <option>School of Education</option>
                            <option>College of Engineering and Computer Science</option>
                            <option>Falk College of Sportand Human Dynamics</option>
                            <option>Whitman School of Management</option>
                            <option>Maxwell School of Citizenship and Public Affairs</option>
                            <option>Newhouse School of Public Communications</option>
                            <option>College of Visual and Performing Arts</option>
                            <option>Part-Time Study at Syracuse: University College</option>
                            <option>College of Law</option>
                            <option>Graduate School</option>
                        </select>
                    </p>
                    <p><input name="action" type="hidden" value="signup"/></p>
                    <p> <input type="submit" value="Create Account"></p>    
                </form>

                <form action = "Login.html">
                    <p align ="center"><input type="submit" value="Login"></p>
                </form>
            </div>
            <p id= "otto"><img align src="../images/otto.png" width = "300"></p>
        </body>
    
</html>