<html>
    
    <head>
    
        <title> Class Scheduler </title>
    
        <style type="text/css">
            
            #login {
                
                border: 2px #251605 solid;
                width: 400px;
                height: 150px;
                position: relative;
                left: 425px;
                background-color:#F1AB86;
            }
            
           
            
        </style>
            
    </head>

    <body>
        
        <br><h1 align = "center">Create Your Schedule </h1>
        
          <p align ="center"><img src="schedule01.png" width ="400px"></p>
        
        <div id = "login">
            
            <form align = "center"> 
        
                <p> Email : <input type = "text"></p>
                <p> Password : <input type = "text>"> </p>
            
            </form>
        
            <form action= "link to home">
          
                <p align = "center"> <input type="submit" value= Login></p>
        
            </form>
        
            <form action= "signup.html">
          
                <p align = "center"> <input type="submit" value="Create Account"></p>
            
            </form>
        
        </div>
    
    </body>




</html>